@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dutch-white: #efdfbb;
  --light-almond: #eee5da;
  --deep-charcoal: #262424;
}

@font-face {
  font-family: "circular-web";
  src: url("/fonts/circularweb-book.woff2") format("woff2");
}

@font-face {
  font-family: "general";
  src: url("/fonts/general.woff2") format("woff2");
}

@font-face {
  font-family: "robert-medium";
  src: url("/fonts/robert-medium.woff2") format("woff2");
}

@font-face {
  font-family: "robert-regular";
  src: url("/fonts/robert-regular.woff2") format("woff2");
}

@font-face {
  font-family: "zentry";
  src: url("/fonts/zentry-regular.woff2") format("woff2");
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: var(--light-almond);
}

::-webkit-scrollbar {
  width: 0.9375rem;
}

::-webkit-scrollbar-track {
  background: var(--deep-charcoal);
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-almond);
  border-radius: 1rem;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #eee5daae;
}
::-webkit-scrollbar-thumb:active {
  background-color: #eee5da89;
}

/* Utility Classes */
.container {
  width: 90%;
  margin: 5% auto;
}

.bg-deep-charcoal {
  background-color: var(--deep-charcoal);
}

.bg-light-almond-500 {
  background-color: #eee5da80;
}

.text-light-almond {
  color: var(--light-almond);
}

.text-dutch-white {
  color: var(--dutch-white);
}

.text-deep-charcoal {
  color: var(--deep-charcoal);
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.navbar-drop-down-menu {
  animation: 0.3s ease 0s forwards navbarDropDownMenuAnimation;
}
.reverse-animation {
  animation: 0.3s ease 0s forwards navbarDropDownMenuReverseAnimation;
  animation-direction: reverse;
}
@keyframes navbarDropDownMenuAnimation {
  0% {
    opacity: 0;
    transform: scale(0, 0);
    top: -40px;
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
    top: 68px;
  }
}
@keyframes navbarDropDownMenuReverseAnimation {
  0% {
    opacity: 0;
    transform: scale(0, 0);
    top: -40px;
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
    top: 68px;
  }
}

.drop-down-menu-class div {
  position: relative;
}
.drop-down-menu-class span {
  background-color: #fff;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s, width 0.5s;
}
.drop-down-menu-class .line-1 {
  transform: translate(-50%, -10px);
}
.drop-down-menu-class .line-3 {
  transform: translate(-50%, 7px);
}
.open-menu .line-1 {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.open-menu .line-2 {
  width: 0;
}
.open-menu .line-3 {
  transform: translate(-50%, -50%) rotate(45deg);
}

.video-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.hero-heading {
  font-family: "zentry", sans-serif;
  letter-spacing: 0.4rem;
}

.hero-heading b {
  font-feature-settings: "ss01" on;
}

.client-card {
  background-color: #26242425;
}

.clients-container img {
  max-width: 60px;
}

.card-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 20px;
  min-height: 500px;
  border-radius: 10px;
}

.card-container:hover .about-card {
  margin-bottom: 20%;
}

.splash {
  position: absolute;
  width: 90%;
  max-width: 450px;
  height: 200px;
  bottom: 0;
  border-radius: 10px;
  z-index: 2;
  background-color: transparent;
  padding: 0;
}

.splash--inner-container::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border-radius: 10px;
  border-top: 2px dashed var(--light-almond);
  border-bottom: 2px dashed var(--light-almond);
}

.splash--inner-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: var(--deep-charcoal);
  border-radius: 10px;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-image: url(assets/img/leather.jpg);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(0, 0, 0, 0.075),
    0 0 4px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.075),
    0 0 16px rgba(0, 0, 0, 0.075);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  mask-image: radial-gradient(circle at 50% -50%, transparent 30%, black 31%);
  mask-repeat: no-repeat;
}

.about-card {
  font-size: 24px;
  width: 80%;
  max-width: 400px;
  min-height: 250px;
  max-height: 300px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(0, 0, 0, 0.075),
    0 0 4px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.075),
    0 0 16px rgba(0, 0, 0, 0.075);
  transform-origin: 10% 60%;
  color: var(--light-almond);
  background-color: var(--deep-charcoal);
  background-image: url(assets/img/card.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: margin-bottom 250ms ease-in-out;
}

.scroller {
  overflow: hidden;
}

.inner__scroller {
  width: max-content;
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 5px));
  }
}

.test {
  color: tomato;
}
